<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улюблені місця Києва</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Мої улюблені місця Києва</h1>

            <p>Місця, де можна погуляти, поїсти та відпочити.</p>

            <a href="#" class="button">Дізнатися більше</a>
        </div>
    </header>
</body>
</html>