{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улюблені місця Києва</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1>Мої улюблені місця Києва</h1>

            <p>Місця, де можна погуляти, поїсти та відпочити.</p>

            <a href="{% url 'add_place' %}" class="button">Додати місце</a>
        </div>
    </header>

        <main>
        <div class="container">

            <h2>Мої місця</h2>

            {% if places %}

                <div class="places-list">

                    {% for place in places %}

                        {% include 'places/place_card.html' with place=place %}

                    {% endfor %}

                </div>

            {% else %}

                <p>
                    У вас ще немає улюблених місць.
                </p>

            {% endif %}

        </div>
    </main>
</body>
</html>