{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">

    <title>Вхід</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <div class="container">
            <h1>Вхід</h1>
        </div>
    </header>

    <main>
        <div class="container">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="button">
                    Увійти
                </button>

            </form>

            <p>
                Немає акаунта?
                <a href="{% url 'register' %}">
                    Зареєструватися
                </a>
            </p>

        </div>
    </main>

</body>

</html>