<article class="place-card">

    <h3>
        <a href="{% url 'place_detail' place.id %}">
            {{ place.name }}
        </a>
    </h3>

    <p>
        {{ place.description|truncatewords:15 }}
    </p>

    <p>
        <strong>Тип:</strong>
        {{ place.get_place_type_display }}
    </p>

    <p>
        <strong>Локація:</strong>

        {% if place.address %}
            {{ place.address }}
        {% else %}
            Secret place👀
        {% endif %}
    </p>

    <p>
        <strong>Рейтинг:</strong>
        {{ place.rating }}/5
    </p>

    <p>
        <strong>Додано:</strong>
        {{ place.created_at|date:"d.m.Y" }}
    </p>

    <p class="place-type">
    {{ place.get_place_type_display }}
    </p>
    
    <p class="place-rating">
        ⭐ {{ place.rating }}/5
    </p>

</article>