{% extends "base.html" %}

{% block title %}
{{ place.name }} — Kyiv Places
{% endblock %}

{% block content %}

<div class="container">

    <article class="place-card">

        <h1>{{ place.name }}</h1>

        <p>
            <strong>Опис:</strong>
            {{ place.description }}
        </p>

        <p>
            <strong>Тип:</strong>
            {{ place.get_place_type_display }}
        </p>

        <p>
            <strong>Локація:</strong>

            {% if place.address %}
                {{ place.address }}
            {% else %}
                Secret place👀
            {% endif %}
        </p>

        <p>
            <strong>Рейтинг:</strong>
            {{ place.rating }}/5
        </p>

        <p>
            <strong>Додано:</strong>
            {{ place.created_at|date:"d.m.Y" }}
        </p>

    </article>

</div>

{% endblock %}